<ul class="nav justify-content-center my-3">
  <li class="nav-item">
    <a class="nav-link" href="/">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about">ABOUT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/help">HELP</a>
  </li>
</ul>

