{{>header}}

<div class="container my-5 text-center">
    <h1>Termometro Online</h1>
    {{>navbar}}
    <div class="text-left mx-5">
        <p>App sviluppata in NodeJS con Express framework, HBS Templates e utilizzo delle <a href="https://weatherstack.com/">API WeatherSkack</a></p>
        <p>Codice sorgente: <a class="btn btn-dark" href="https://github.com/rosarioterranova/termometro-online">GitHub</a></p>
    </div>
</div>

{{>footer}}