{{>header}}

<div class="container my-5 text-center">
    <h1>Termometro Online</h1>
    {{>navbar}}
    <div class="text-center">
        <img src="/img/me.jpg" alt="">
    </div>
</div>

{{>footer}}