{{>header}}

<div class="container my-5 text-center">
    <h1>Termometro Online</h1>
    {{>navbar}}
    <div class="text-left mx-5">
        <p>Inserisci il nome della città come input e premi invio!</p>
        <p><u>Attenzione:</u> il nome delle città deve essere in inglese.</p>
    </div>
</div>
{{>footer}}