{{>header}}

<div class="container my-2 text-center">
    <h1>Termometro Online</h1>
    {{>navbar}}
    <div class="text-left mx-5">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi quos dolorem possimus ipsum sint dignissimos, iure nihil, expedita voluptas voluptatem provident natus libero laborum corporis distinctio tenetur, asperiores non fugiat.</p>
    </div>
</div>
{{>footer}}