{{>header}}

<div class="container my-5 text-center">
    <h1>Termometro Online</h1>
    {{>navbar}}
    <p>Misura in tempo reale quanti gradi ci sono nella tua città</p>
</div>

<script src="./js/app.js"></script>

{{>footer}}